/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 31 Jan 2023, 21:41:17
    Author     : Machatine Augusto

This css file contains the styling of the general caracteristics of the website such as buttons and titles,. body, colors, etc
*/

/*The Body of all website*/
body{
    margin: 0;
}
*{
    box-sizing: border-box;
}

/*The Tiltles of all website sections*/

.Section-Title{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
   
}

.Section-Title h1{
    display: inline-block;
    font-size:40px;
   color:#081B2F;
    font-weight: 700;
      position: relative;
    
}

/*Underline line after Headings*/
.Section-Title h1:before{
    
    content: '';
    box-sizing: border-box;
    position: absolute;
    left:0;
    bottom: -5px;
    width:75px;
    height: 3px;
    background-color: #FFAA00; 
}

/*Center title for all titles*/
.Section-Title {
    text-align: center;
    position: relative;
   
}
/*Buttons*/



button{
    background-color: #FFAA00;
    color:white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right:28px;
    border-radius: 25px;
    border: none;
}

.Button a{
    text-decoration: none;
    color:white;
    font-size:16px;
    
}

/*nav bar menu*/

#Menu-Contact{
    
    background-color: #FFAA00;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right:25px;
    border-radius: 20px;
    
}
/*Nav button on hover*/
#Menu-Contact:hover{
    
     color: white;
    background-color: #081B2F;
    border: none;
     transition: all 0.8s ease;
}

/*All buttons on hover*/
.Button:hover{
    color: white;
    background-color: #081B2F;
    border: none;
     transition: all 0.8s ease;
     cursor: pointer;
}

/*Responsividade */

/*Titulos*/

@media screen and (max-width:600px){
    
    .Section-Title{
    padding: 0 8px;
   
}

.Section-Title h1{
    font-size:22px;
    
}
}