/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 22 Jan 2023, 14:27:47
    Author     : Machatine Augusto 158455171

This CSS file contains the styling of the past work section

*/

/* The past Work Section spacing and dimensions*/
.Past-Work-Section{
   width: 100%;
   background-image:  url("../IMGS/ab.jpg");
   margin-bottom: 35px;
   margin-top:20px;
}

/* The posisioning of the content in the center of the window*/
.container-past-work{
    padding-left: 50px;
    padding-right: 50px;
}

/* Row past Work*/

.row-Past-work{
    width: 100%;
     display: flex;
}

/*div that holds the past work block*/
.service-item{
   /* float: left;*/
    width: 100%;
   margin:10px;
text-align: center;
  
}

/*The h2 titles inside the row past work*/
.row-Past-work h2{

    color:#183049;
    text-align: center;
}

/*Service Item inner*/
.service-item-inner{
 border-radius: 20px;
 justify-content: center;
 align-items: center;
 min-height: 50vh;
}

/*the image inside the service-item or the image of the past work*/

.service-item-inner img{
    width: 375px;  
    position: relative;
   /* left:80px;*/
   border-radius: 35px;
   cursor:pointer;
    
}

/*The image of the past work on hover*/
.service-item-inner img:hover{
    opacity: 0.9;  
}

/*Past work images*/
.past-work-images-container{
    display:none;
    height: 80vh;
    justify-content: center;
    align-items: center;
    position: absolute;
 /*left: 75px;*/
    z-index: 100;
    
}

.Silder-Wrapper{
   width: 1400px;
    
    height: 750px;
 
      overflow: hidden;
}

.inner-wraper{
    width: 500%;
    height: 100%;
    position: relative;
   /* left:-100%; */
        
    
}
.slide img{
    width: 1250px;
    position:absolute;
}
.slide{
    width:calc(100%/5);
    height: 100%;
    float:left;
    font-size:100px;
    color:black;
   display:flex;
    justify-content: center;
    align-items: center; 
}


.button{
    width:35px;
    height: 35px;
    border-top:4px solid #FFAA00;
    position: absolute;
    cursor: pointer;
}
.prev{
    border-left: 4px solid #FFAA00;
    left: 10%;
    transform: rotate(-45deg);
}

.next{
    border-right: 4px solid #FFAA00;
    right: 10%;
      transform: rotate(45deg);
}


/*close icon*/
.Past-Work-Section .close-corner-icon{
    position: absolute;
  /*left: 280px;*/
   top:165px;
}

/*Reponsividade*/

@media screen and (max-width:750px){
 
  
/* Row past Work*/

.row-Past-work{
    width: 100%;
     display: block;
}
 
.slide img{
    width: 400px;
}

.past-work-images-container{
    display:none;
    position: absolute;
   left: 0;
    z-index: 100;
    
}

}



